*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

header {
    background-color:rgb(85, 22, 121);
    padding:10px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    
}
footer {
    background-color: #333;
    color: rgb(241, 119, 119);
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    font-size: 25px;
}
footer a {
    color: #00aced;
    margin: 0 10px;
    text-decoration:dotted;
}
footer a:hover {
    text-decoration: underline;
}

video, audio {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;
    margin: 30px;
}
h2{
    font-size: 55px;
    text-align: center;
}
h3{
    text-align: center;
    font-style: italic;
    color: grey;
}
.texto{
    background-color: #3e7913; 
    padding: 15px; 
    border-radius: 10px; 
    width: 70%;
    margin: 20px auto; 
    text-align: justify; 
    font-family: Arial, sans-serif; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.colaboracion{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 3000px;
    margin: 50px auto;
    padding: 20px;
    flex-direction: column;
   
}
.colaboracion video{
    width: 100%;
    max-width: 3000px;
    display: block;
    border-radius: 5px;
    margin:   auto;
}


.titulo {
    position:relative;
    left: 0px; /* Alineado completamente a la izquierda */
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px 15px; /* Un pequeño margen izquierdo */
    z-index: 10; 
    top: 0px;
}
.subtitulo{
    display: block;
    position: relative; /* Mantiene el flujo normal */
    left: 0px; /* Asegura que no se mueva hacia la derecha */
    font-size: 25px;
    font-weight: bold;
    z-index: 10;
    padding-right: 15px;
    width: fit-content;
    margin-top: 5px; /* Espacio entre el video y el texto */
    margin-left: 10px; /* Asegura alineación a la izquierda */
    text-align: left; /* Asegura alineación del texto */
}
audio {
    width: 350px;
    height: 30px;
    text-align: center;
}
ul {
    margin: 4%;
}
ul li {
    font-size: 2em;
}

ul li::marker {
    color: darkgreen; /* Hace que el punto sea verde automáticamente */
    font-size: 1.5em; /* Ajusta el tamaño del punto */
}
